.title {
  color: red;
}

.notConfirmed {
  color: rgb(194, 194, 194);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-width:2px;
  border-style:solid;
  border-color: rgb(75, 40, 57);
  margin: 0vh 70vh 0vh 70vh;
  border-radius: 2rem;
}

.inputDiv {
  text-align: center;
}

.inputBox {
  font-size: 2rem;
  text-align: center;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 100px;
}

.button {
  font-size: 2rem;
  color: rgb(114, 2, 2);
  border-radius: 10px;
}

.list {
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // font-size: 2rem;
}
